@import url('https://fonts.googleapis.com/css?family=Open+Sans:300i,400,400i,700,700i,800');


* {
	margin: 0px;
	padding: 0px;
}


#rectangle {
	width: 100%;
	height: 580px;
	background-color: #f5efea;


}

#plt {
      font-family: Open Sans;
      font-size: 13px;
      line-height: 1.15;
      color: #7d639f;
      text-align: left;
      margin-left: 180px;
}

#button {
	 width: 240px;
     height: 50px;
     border-radius: 54px;
     background-color: #fb485c;
     text-align: center;
     margin: 0 auto;
     font-family: Open Sans;
     font-size: 18px;
     font-weight: 600;
     color: #ffffff;
     line-height: 50px;
}
#h1 {
    font-family: Open Sans;
    font-size: 42px;
    font-weight: 300px;
    text-align: center;
    color: #46237a;
    padding-top: 150px;

}
#h3 {
     font-family: Open Sans;
     font-size: 17px;
     font-style: italic;
     text-align: center;
     color: #2b2929;
     text-align: center;
     padding-top: 70px;

}
#ins {
	 width: 113px;
     height: 1px;
     border-top: : solid 1px #242222;
}
#mng {
  height: 18px;
  font-family: Open Sans;
  font-size: 13px;
  color: #454545;
  padding-top: 20px;
}
#tel { 
    height: 28px;
    font-family: Open Sans;
    font-size: 18px;
    color: #7d639f;
	}

#container {
		float:left;
        width:700px;
 
}
#content {
    width:1800px;
    margin: 0 auto;
}
#logo-2 {
  width: 111px;
  padding-left: 130px; 
  margin-top: 10px;
}
#fon {
  background-image: url(img/group-14.png);
  width: 1219px;
  height: 581px;
  object-fit: contain;
  margin-left: auto;
  margin-right: auto;
}
#rectangle-2 {
   width: 100%;
   height: 773px;
   background-color: #ffffff;
}
.rectangle-22 {
 margin: 50px;

}
.h12{
  font-family: Open Sans;
  font-size: 32px;
  font-weight: bold;
  letter-spacing: -0.5px;
  text-align: center;
  color: #46237a;
  letter-spacing: normal;
  text-align: center;
  padding-top: 50px;
}
#vozm {
  font-family: Open Sans;
  font-size: 20px;
  font-weight: 300;
  text-align: center;
  color: #454545;
  padding-top: 4px;
}

.row {
  width: 100%;
  text-align: center;
  margin: 30px;
}
.col {
  width: 33.33%;
  float: left;
}
.card {
  width: 330px;
  height: 300px;
  margin: 20px;
}
.card-background-pink {
  background-color: #fb485c;
  width: 330px;
  height: 300px;
  margin: 20px;
}
.cafe {
  margin-top: 25px;
}
.caf {
  font-family: Open Sans;
  color: #ffffff;
  margin-top: 20px;
}
.po {
   width: 48px;
  height: 2px;
  background-color: #ffffff;
  margin-left: 140px;
  margin-top: 20px;
}
.spm{
  text-align: center;
  color: #ffffff;
  font-size: 36px;
  font-family: Open Sans;
  margin-top: 20px;
}
.mest{
  font-family: Open Sans;
  font-size: 12px;
  text-align: center;
  color: #ffffff;
}
.card {
  width: 330px;
  height: 300px;
  margin: 20px;
}
.card-2 {
  background-color: #924992;
}  
.ball{
  margin-top: 25px;
}
.res{
  font-family: Open Sans;
  color: #ffffff;
  margin-top: 20px;
}
.po {
   width: 48px;
  height: 2px;
  background-color: #ffffff;
  margin-left: 140px;
  margin-top: 20px;
}
.r-24 {
  text-align: center;
  color: #ffffff;
  font-size: 36px;
  font-family: Open Sans;
  margin-top: 20px;
}  
.card {
  width: 330px;
  height: 300px;
  margin: 20px;
}
.card-3{
  background-color: #46237a;
}
.karaoke{
  margin-top: 30px;
}
.drug{
  font-family: Open Sans;
  color: #ffffff;
  margin-top: 20px;
}
.po {
   width: 48px;
  height: 2px;
  background-color: #ffffff;
  margin-left: 140px;
  margin-top: 20px;
}
.dvss{
  text-align: center;
  color: #ffffff;
  font-size: 36px;
  font-family: Open Sans;
  margin-top: 20px;
}
.spusd {
  font-family: Open Sans;
  font-size: 24px;
  text-align: center;
  color: #2b2929;
  margin-bottom: 25px;
}
.clearfix {
      clear:both;
    }
.butt{
  text-align: center;
}
#button {
   width: 240px;
     height: 50px;
     border-radius: 54px;
     background-color: #fb485c;
     text-align: center;
     margin: 0 auto;
     font-family: Open Sans;
     font-size: 18px;
     font-weight: 600;
     color: #ffffff;
     line-height: 50px;
     margin-bottom: 85px;
   }
.b {
    width: 212px;
  height: 50px;
  border-radius: 66px;

}   
#polos {
  width: 1345px;
  height: 1px;
  background-color: #ffffff;
  border: solid 1px #dfdfdf;
  margin-bottom: 39px;
}

#rectangle-3 {
      width: 100%;
      height: 600px;
      background-color: #ffffff;
}
.row-2{
  width: 100%;
}
.col-2 {
  width: 33%;
  float: left;
}
.card-2-1 {
  width: 400px;
  height: 400px;
  margin: 90px;
}
.col-2-2 {
  width: 67%;
  float: left;
}
.card-2-2 {
  width: 600px;
  height: 400px;
  margin: 90px;
}
.otk {
   font-family: Open Sans;
  font-size: 32px;
  font-weight: bold;
  line-height: 1.13;
  color: #46237a;
}
.platf{
  font-family: Open Sans;
  font-size: 21px;
  font-weight: 300;
  color: #454545;
  margin-top: 12px;
}
.col-3{
  width: 10%;
  float: left;
}
.card-3-1{
  width: 10px;
}

.funds-1{
  object-fit: contain;
  margin: 12px;
}
.chair{
  margin: 10px;
}
.col-3-2{
  width: 90%;
  float: left;
}
.card-3-2{
  margin-top: 11px;
  margin-left: 5px;
  font-family: Open Sans;
  font-size: 18px;
  color: #454545;
  float: left;
}
.col-3{
  width: 10%;
  float: left;
}
.card-3-1{
  width: 10px;
}
.oval{
  width: 48px;
  height: 48px;
  background-color: #ffffff;
  border: solid 1px #dfdfdf;
  border-radius: 50px;
}
.row-pricing {
  margin: 22px 0;
}
.chair{
  object-fit: contain;
}
.favorites{
  margin: 14px;
}
.col-3-2{
  width: 90%;
  float: left;
}
#rectangle-4 {
  width: 100%;
  height: 890px;
  background-color: #faf5f1;

}
.h12 {
  font-family: Open Sans;
  font-size: 32px;
  font-weight: bold;
  color: #46237a;
  text-align: center;
  padding-top: 50px;
}
#rectangle-col-4 {
      width: 50%;
      float: left;

}
.col-4{
  margin-left: 70px;
  margin-top: 50px;
}

.helping-item {
  width: 100%;
  clear:both;
  margin-bottom: 20px;
  min-height: 100px;
  padding-top:  50px;
}

.helping-item img {
  width: 100px;
  float: left;
  padding-right: 20px;
}

.helping-item-text {
  width: 457px;
  float: left;
  font-family: Open Sans;
  font-size: 17px;
  font-weight: 300;
  color: #454545;
  padding-top:  4px;
}

.helping-item-text h3 {
  margin-top: 0;
  font-family: Open Sans;
  font-size: 18px;
  font-weight: 600;
  line-height: 1.17;
  color: #46237a;
  margin-top: 15px;
}
.button{
  width: 240px;
    height: 50px;
    border-radius: 54px;
    background-color: #fb485c;
    text-align: center;
    margin: 0 auto;
    font-family: Open Sans;
    font-size: 18px;
    font-weight: 600;
    color: #ffffff;
    line-height: 50px;
    margin-bottom: 85px;
}
.button

#recta{
  height: 500px;
}
#i {
  width: 210px;
  height: 167px;
  object-fit: contain;
  margin-left: 120px;
  padding-top: 150px;
}
#vnut {
  width: 245px;
  height: 33px;
  font-family: Open Sans;
  font-size: 24px;
  color: #46237a;
  margin-left: 365px;
  margin-top: -150px;
}
#bl {
  width: 300px;
  height: 69px;
  font-family: Open Sans;
  font-size: 17px;
  font-weight: 300;
  color: #2b2929;
  margin-left: 365px;
  padding-top: 8px;
}
#img4 {
  width: 190px;
  height: 118px;
  object-fit: contain;
  margin-left: 735px;
  margin-top: -150px;
}
#opl {
  width: 86px;
  height: 33px;
  font-family: Open Sans;
  font-size: 24px;
  color: #46237a;
  margin-left: 945px;
  margin-top: -120px;
}
#ras {
  width: 270px;
  height: 46px;
  font-family: Open Sans;
  font-size: 17px;
  font-weight: 300;
  color: #2b2929;
  margin-left: 945px;
}
#pl {
   width: 1345px;
  height: 1px;
  background-color: #dfdfdf;
  margin-top: 98px;
}
.h12 {
  font-family: Open Sans;
  font-size: 32px;
  font-weight: bold;
  color: #46237a;
  text-align: center;

}
#rectangle-col-5 {
  width: 33,33%;
}
#cvadr1 {
  width: 330px;
  height: 300px;
  background-color: #fb485c;
  margin-left: 120px;
  margin-top: 50px;
}
#bitmapc {
   width: 110px;
  height: 110px;
  object-fit: contain;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.24);
  margin-left: 110px;
  margin-top: -50px;
}
.name {
  font-family: Open Sans;
  font-size: 18px;
  font-weight: 600;
  line-height: 1.17;
  color: #ffffff;
  text-align: center;
  margin-top: 25px;
}
#pol {
   width: 48px;
  height: 2px;
  background-color: #ffffff;
  margin-left: 141px;
  margin-top: 20px;
}
#svo {
   width: 290px;
  height: 92px;
  font-family: Open Sans;
  font-size: 17px;
  font-weight: 300;
  text-align: center;
  color: #ffffff;
  margin-left: 20px;
  margin-top: 20px;
}
#bitmape {
   width: 38.6px;
  height: 30px;
  object-fit: contain;
  margin-left: 146px;
  margin-top: 10px;
}
#rectangle-col-5 {
  width: 33,33%;
}
#cvadr2 {
  width: 330px;
  height: 300px;
  background-color: #924992;
  margin-top: -300px;
  margin-left: 540px;
}
#bitmapy {
  width: 110px;
  height: 110px;
  object-fit: contain;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.24);
  margin-left: 110px;
  margin-top: -50px;
}

.name {
  font-family: Open Sans;
  font-size: 18px;
  font-weight: 600;
  line-height: 1.17;
  color: #ffffff;
  text-align: center;
  margin-top: 25px;
}
#odno {
  width: 290px;
  height: 92px;
  font-family: Open Sans;
  font-weight: 300;
  text-align: center;
  color: #ffffff;
  margin-left: 20px;
  margin-top: 20px;
}
#rectangle-col-5 {
  width: 33,33%;
}
#cvadr3{
  width: 330px;
  height: 300px;
  background-color: #46237a;
  margin-left: 955px;
  margin-top: -300px;
}
#bitmapa {
  width: 110px;
  height: 110px;
  object-fit: contain;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.24);
  margin-left: 110px;
  margin-top: -50px;
}
.name {
  font-family: Open Sans;
  font-size: 18px;
  font-weight: 600;
  line-height: 1.17;
  color: #ffffff;
  margin-top: 25px;
  text-align: center;
}
#servi {
  width: 290px;
  height: 92px;
  font-family: Open Sans;
  font-size: 17px;
  font-weight: 300;
  text-align: center;
  color: #ffffff;
  margin-left: 20px;
  margin-top: 20px; 
}
#group-13 {
  width: 69px;
  height: 102px;
  object-fit: contain;
  margin-left: 1086px;
  margin-top: 60px;
}
#rectangle-5 {
  width: 1347px;
  height: 250px;
  background-color: #46237a;
  border: solid 1px #979797;
}
#rectangle-col-8 {
  width: 60%;
}
#ost {
  height: 43px;
  font-family: Open Sans;
  font-size: 30px;
  font-weight: 300;
  color: #ffffff;
  margin-left: 155px;
  margin-top: 54px;
}
#rectangle-col-9 {
  width: 40%;
}
#button4{
  width: 250px;
  height: 50px;
  border-radius: 66px;
  background-color: #fb485c;
  margin-left: 985px;
  margin-top: -40px;
}
#zadat {
  width: 118px;
  height: 22px;
  font-family: Open Sans;
  font-size: 15px;
  font-weight: 600;
  color: #ffffff;
  margin-left: 66px;
  padding-top: 13px;
}
#polo {
   width: 1345px;
  height: 1px;
  opacity: 0.2;
  background-color: #ffffff;
  margin-top: 63px;
}
#contanier {
  display: block;
}
#logo-2 {
  width: 111px;
  height: 45px;
  object-fit: contain;
  margin-left: 5px;
  margin-top: 15px;
}
#contener-right {
      width: 50%;
      float: left;
}
#close-envelope-2 {
  width: 16px;
  height: 12px;
  object-fit: contain;
  opacity: 0.5;
  margin-left: 835px;
  margin-top: -50px;
}
#container {
  width: 50%;
}
#col {
  float: left;
  width: 50%;
  margin-top: 25px;
}
#logo-2 {
  width: 111px;
  height: 45px;
  object-fit: contain;
}
.icon {
  background-image: url(img/close-envelope-2.png);
  background-position: left center;
  background-repeat: no-repeat;
  padding-left: 24px;
  width: 145px;
  height: 28px;
  font-family: Open Sans;
  font-weight: 300;
  color: #ffffff;
}

#telef {
  background-image: url(img/phone-receiver.png);
  background-position: left center;
  background-repeat: no-repeat;
  padding-left: 24px;
  width: 180px;
  height: 28px;
  font-family: Open Sans;
  font-weight: 300;
  color: #ffffff;
  margin-left: 400px;
  padding-top: 90px;
}
#nom {
	margin-left: 425px;
	margin-top: -67px; 
}

.rectangle-col {
      width: 50%;
      float: left;
}

.rectangle-col-right {
      text-align: right;
}
.rectangle-2-col-left {
      width: 33,33%;
      float: left;
}

.rectangle-2-col-centre {
      width: 33,33%;
}

.rectangle-2-col-right {
      width: 33,33%;
      float: right;
}

.rectangle-3-col {
      width: 40%;
      float: left;
}

.rectangle-3-right {
      width: 60%;
      text-align: right;
}

.rectangle-col-4 {
      width: 50%;
      float: left;
}